<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>tms</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>DBConnectionServlet</servlet-name>
    <servlet-class>controller.DBConnectionServlet</servlet-class>
  </servlet>
  <context-param>
    <param-name>dbURL</param-name>
    <param-value>jdbc:mysql://localhost/test</param-value>
  </context-param>
  <context-param>
    <param-name>dbUserName</param-name>
    <param-value>test</param-value>
  </context-param>
  <context-param>
    <param-name>dbPassword</param-name>
    <param-value>admin</param-value>
  </context-param>
  <context-param>
    <param-name>host</param-name>
    <param-value>smtp.gmail.com</param-value>
  </context-param>
  <context-param>
    <param-name>port</param-name>
    <param-value>465</param-value>
  </context-param>
  <context-param>
    <param-name>user</param-name>
    <param-value>bestjobsmail@gmail.com</param-value>
  </context-param>
  <context-param>
    <param-name>pass</param-name>
    <param-value>bestjobsmailpass</param-value>
  </context-param>
  <context-param>
    <param-name>filesystempath</param-name>
    <param-value>C:\BESTJOBFILESYSTEM</param-value>
  </context-param>
  <context-param>
    <param-name>adminusername</param-name>
    <param-value>administrator</param-value>
  </context-param>
  <context-param>
    <param-name>adminpassword</param-name>
    <param-value>bestjobshere</param-value>
  </context-param>
  <servlet-mapping>
    <servlet-name>DBConnectionServlet</servlet-name>
    <url-pattern>/DBConnectionServlet</url-pattern>
  </servlet-mapping>
</web-app>